.logo {
  color: var(--grey-100);
  font-weight: 700;
  font-size: var(--heading-2);
  margin: 10px 0px 15px 0px;
}

.logo > span {
  color: var(--color-secondary);
  font-size: var(--heading-4);
  padding: 0 6px;
}
