.cart-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.cart-card__content-div {
  display: flex;
  gap: 10px;
}

.div-img-cart {
  height: 70px;
  width: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  background-color: var(--grey-20);
  border-radius: 6px;
}

.div-text-cart {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.div-text-cart > h2 {
  margin-top: 4px;
  font-weight: 700;
  color: var(--grey-100);
  font-size: var(--heading-4);
}

.div-text-cart > span {
  font-size: var(--caption);
  color: var(--grey-50);
}

.div-text-cart__qtt {
  font-size: var(--caption);
  background-color: var(--color-secondary);
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  color: white;
}

.cart-card > button {
  align-self: baseline;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px;
  cursor: pointer;
  color: #bdbdbd;
  font-size: var(--caption);
}
